@using CloudGame.Components.Extensions;
@using CloudGame.Controllers;
@using CloudGame.Features.DtoModels.Server;
@model InfoServerDto
@{
    ViewBag.Title = "Сведения о серверах";
}

<div class="container m-auto w-75 mx-auto mt-3">
    <div class="row bg-white shadow-sm">
        <div class="col border rounded p-4">
            <h3 class="text-center mb-4">Сведения о сервере</h3>
            <div class="row">
                <div class="col">
                    @await Component.TextAsync(Html, m => m.NameServer, readOnly: true)
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @await Component.TextAsync(Html, m => m.Games, readOnly: true)
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @await Component.TextAsync(Html, m => m.Сharacteristic, readOnly: true)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container m-auto w-75 mx-auto mt-3">
    <div class="row bg-white shadow-sm">
        <div class="col border rounded p-4" id="MesDistributionSchedules_Form">
            <h3 class="text-center mb-4">Сведения о владельце</h3>
            <table class="table table-bordered table-hover align-middle text-center">
                <thead>
                    <tr>
                        <th scope="col">Имя</th>
                        <th scope="col">Дата регистрации</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Owners.NameOwn</td>
                        <td>@Model.Owners.DataRegistration</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container m-auto w-75 mx-auto mt-3">
    <div class="row bg-white shadow-sm">
        <div class="col border rounded p-4" id="MesDistributionSchedules_Form">
            <h3 class="text-center mb-4">Пользователи сервера</h3>
            <table class="table table-bordered table-hover align-middle text-center">
                <thead>
                    <tr>
                        <th scope="col">Имя</th>
                        <th scope="col">Тарифф</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Users)
                    {
                        <tr>
                            <td>@item.NameUser</td>
                            <td>@item.Tariff</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container m-auto w-75 mx-auto mt-3">
    <div class="row bg-white shadow-sm">
        <div class="col border rounded p-4">
            <div class="form-group form-element">
                <div class="float-start">
                    <a class="btn btn-outline-secondary" href="@Url.ActionLink(nameof(ManageController.GetListOwners), ManageController.Manage)">К списку серверов</a>
                </div>
                <div class="float-end">
                    <a class="btn btn-outline-success" href="@Url.ActionLink(nameof(ManageController.GetEditServer), ManageController.Manage, new { isnServer = Model.IsnNode })">Редактировать</a>
                </div>
            </div>
        </div>
    </div>
</div>